p {
	background: grey;
	font-family: helvetica;
	margin: 20px;
	border: 2px solid black;
	height: 180%;
	padding: 20px;
	position: relative;

}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size:175%;
}




.row {
	width: 100%;
}

@media (min-width: 992px) {
	.col-sy-1, .col-sy-2, .col-sy-3, .col-sy-4, .col-sy-5, .col-sy-6, .col-sy-7, .col-sy-8, .col-sy-9, .col-sy-10, .col-sy-11, 
	.col-sy-12
	{
		float: left;
	}

.col-sy-1{
	width: 8.33%;
}

.col-sy-2{
	width: 16.66%;
}

.col-sy-3 {
	width: 25%;
}

.col-sy-4 {
	width: 33%;
}

.col-sy-5 {
	width: 41.66%;
}

.col-sy-6 {
	width: 50%;
}

.col-sy-7 {
	width: 58.33%;
}

.col-sy-8 {
	width: 66.66%;
}

.col-sy-9 {
	width: 74.99%;
}

.col-sy-10 {
	width: 83.33%;
}

.col-sy-11 {
	width: 91.66%;
}

.col-sy-12 {
	width: 100%;
}

// for Tablet devices//

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
	{
		float: left;
	}

.col-md-1{
	width: 8.33%;
}

.col-md-2{
	width: 16.66%;
}

.col-md-3 {
	width: 25%;
}

.col-md-4 {
	width: 33%;
}

.col-md-5 {
	width: 41.66%;
}

.col-md-6 {
	width: 50%;
}

.col-md-7 {
	width: 58.33%;
}

.col-md-8 {
	width: 66.66%;
}

.col-md-9 {
	width: 74.99%;
}

.col-md-10 {
	width: 83.33;
}

.col-md-11 {
	width: 91.66%;
}

.col-md-12 {
	width: 100%;
}

// For mobile phones //
@media (max-width: 767px) {
  .col-mp-1, .col-mp-2, .col-mp-3, .col-mp-4, .col-mp-5, .col-mp-6, .col-mp-7, .col-mp-8, .col-mp-9, 
  .col-mp-10, .col-mp-11, .col-mp-12 
  {
    float: left;
  }
  
  .col-mp-1 {
    width: 8.33%;
  }
  .col-mp-2 {
    width: 16.66%;
  }
  .col-mp-3 {
    width: 25%;
  }
  .col-mp-4 {
    width: 33.33%;
  }
  .col-mp-5 {
    width: 41.66%;
  }
  .col-mp-6 {
    width: 50%;
  }
  .col-mp-7 {
    width: 58.33%;
  }
  .col-mp-8 {
    width: 66.66%;
  }
  .col-mp-9 {
    width: 74.99%;
  }
  .col-mp-10 {
    width: 83.33%;
  }
  .col-mp-11 {
    width: 91.66%;
  }
  .col-mp-12 {
    width: 100%;
    margin: auto;
  }
