h1 {
	text-align: center;
}

h3 {
	margin-top: 0px;
}

div {
	background: grey;
	margin: 10px;
	border: 1px solid black;
	width: 30%;
	font-family: cursive;
	float: left;
	height: 150px;
	overflow: hidden;
}
#h3x {
	background: pink;
	border: 1px solid black;
	width: 10%;
	position: relative;
	right: -90%;
	margin: 0px;

}

#h3y {
	background: indianred;
	border: 1px solid black;
	width: 50px;
	color: white;
	position: relative;
	right: -88%;
	margin: 0px;
}

#h3z {
	background: gold;
	border: 1px solid black;
	width: 50px;
	position: relative;
	right: -88%;
	margin: 0px;
}