
h1 {
  
  text-align: center;
  
}

p {
  border: 1px solid black;
  background-color: grey;
  height: 150px;
  
  font-family: cursive;
  color: black;
  padding-top: 30px;
  position: relative;
  margin: 20px;
}



.row {
  width: 100%;
}

// for system //
@media (min-width: 992px) {
  .col-sy-1, .col-sy-2, .col-sy-3, .col-sy-4, .col-sy-5, .col-sy-6, .col-sy-7, 
  .col-sy-8, .col-sy-9, .col-sy-10, .col-sy-11, .col-sy-12 
  {
    float: left;
  }
  .col-sy-1 {
    width: 8.33%;
  }
  .col-sy-2 {
    width: 16.66%;
  }
  .col-sy-3 {
    width: 25%;
  }
  .col-sy-4 {
    width: 33.33%;
  }
  .col-sy-5 {
    width: 41.66%;
  }
  .col-sy-6 {
    width: 50%;
  }
  .col-sy-7 {
    width: 58.33%;
  }
  .col-sy-8 {
    width: 66.66%;
  }
  .col-sy-9 {
    width: 74.99%;
  }
  .col-sy-10 {
    width: 83.33%;
  }
  .col-sy-11 {
    width: 91.66%;
  }
  .col-sy-12 {
    width: 100%;
  }


// For tablets //
@media (min-width: 768px) and (max-width: 991px) {
  .col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6, .col-tb-7, .col-tb-8, .col-tb-9, 
  .col-tb-10, .col-tb-11, .col-tb-12 
  {
    float: left;
  }
  
  .col-tb-1 {
    width: 8.33%;
  }
  .col-tb-2 {
    width: 16.66%;
  }
  .col-tb-3 {
    width: 25%;
  }
  .col-tb-4 {
    width: 33.33%;
  }
  .col-tb-5 {
    width: 41.66%;
  }
  .col-tb-6 {
    width: 50%;
  }
  .col-tb-7 {
    width: 58.33%;
  }
  .col-tb-8 {
    width: 66.66%;
  }
  .col-tb-9 {
    width: 74.99%;
  }
  .col-tb-10 {
    width: 83.33%;
  }
  .col-tb-11 {
    width: 91.66%;
  }
  .col-tb-12 {
    width: 100%;
  }
  // For mobile phones //
@media (max-width: 767px) {
  .col-mp-1, .col-mp-2, .col-mp-3, .col-mp-4, .col-mp-5, .col-mp-6, .col-mp-7, .col-mp-8, .col-mp-9, 
  .col-mp-10, .col-mp-11, .col-mp-12 
  {
    float: left;
  }
  
  .col-mp-1 {
    width: 8.33%;
  }
  .col-mp-2 {
    width: 16.66%;
  }
  .col-mp-3 {
    width: 25%;
  }
  .col-mp-4 {
    width: 33.33%;
  }
  .col-mp-5 {
    width: 41.66%;
  }
  .col-mp-6 {
    width: 50%;
  }
  .col-mp-7 {
    width: 58.33%;
  }
  .col-mp-8 {
    width: 66.66%;
  }
  .col-mp-9 {
    width: 74.99%;
  }
  .col-mp-10 {
    width: 83.33%;
  }
  .col-mp-11 {
    width: 91.66%;
  }
  .col-mp-12 {
    width: 100%;
    margin: auto;
  }
